.theme-light {
  --primary: #f8f8f8;
  --primary-script: #2a2e35;

  --secondary: #dbe1e8;
  --secondary-script: #2a2e35;

  --accent: #00a2ff;
  --accent-script: #f8f8f8;

  --accent-1: #02314d;
  --accent-2: #9fdcff;
}

.theme-dark {
  --primary: #1A1C20;
  --primary-script: #f8f8f8;

  --secondary: #2a2e35;
  --secondary-script: #fdff84;

  --accent: #C6C91B;
  --accent-script: #1A1C20;

  --accent-1: #5e5f0a;
  --accent-2: #fdff84;
}
