.theme-light {
  --default: #f8f8f8;
  --default-script: #2a2e35;

  --inverse: #dbe1e8;
  --inverse-script: #2a2e35;

  --color-1: #00a2ff;
  --color-1-script: #f8f8f8;

  --color-2: #02314d;
  --color-2-script: #f8f8f8;

  --color-3: #9fdcff;
  --color-3-script: #02314d;
}

.theme-dark {
  --default: #2a2e35;
  --default-script: #f8f8f8;

  --inverse: #2a2e35;
  --inverse-script: #dbe1e8;

  --color-1: #a7277c;
  --color-1-script: #f8f8f8;

  --color-2: #4d0228;
  --color-2-script: #f8f8f8;

  --color-3: #ff9fea;
  --color-3-script: #4d0228;
}
