.light {
  --welcome-headings: #171e29;
  --search-neutral-1: #1a5478;
  --search-neutral-2: #9fdcff;
  --footer-link-1: #0f131b;
  --footer-link-2: #9fdcff;

  --neutral: #989898;

  --default: #f8f8f8;
  --default-script: #1b1d20;

  --inverse: #1b1d20;
  --inverse-script: #f8f8f8;

  --color-1: #00a2ff;
  --color-1-alternative: #ff009d;
  --color-1-script: #f8f8f8;

  --color-2: #02314d;
  --color-2-script: #f8f8f8;

  --color-3: #9fdcff;
  --color-3-script: #02314d;
}

.dark {
  --welcome-headings: #171e29;
  --search-neutral-1: #f0ff7b;
  --search-neutral-2: #0f131b;
  --footer-link-1: #0f131b;
  --footer-link-2: #828855;

  --neutral: #989898;

  --default: #1f303b;
  --default-script: #f8f8f8;

  --inverse: #f8f8f8;
  --inverse-script: #1b1d20;

  --color-1: #f0ff7b;
  --color-1-alternative: #7bb9ff;
  --color-1-script: #1b1d20;

  --color-2: #c1d34d;
  --color-2-script: #1b1d20;

  --color-3: #f0ff7b;
  --color-3-script: #1f303b;
}
